.cart{
    display: flex;
    justify-content: space-around;
    width:80vw;
    margin:auto;
    margin-top: 5%;
}
.cartList{
    width:100vw;  
}
.qty, .cart button{
    width:20px;
    border-style: none;
    border:1px solid black;
    text-align: center;
}
.cartItemImg{
    height:50px;
    width:50px;
}
.checkout{
    float : right;
    margin : 10%;
    margin-top:5%;
}
.removeItem img{
    height:15px;
    width:15px;
}
