*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:black;
    position:sticky;
    top:0px;
    z-index: 2;
    position: relative;
}
.logoNav{
    display: flex;
    justify-content: center;
}
.logo{
    height:80px;
    width:80px;
}
.cartIcon{
    height:40px;
    width:40px;
}
.cartContainer{
    display:flex;
    align-items: center;
    margin-right: 2%;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav div{
    height:100%;
    margin:auto;
}
.nav li{
    margin: 0rem 0.7rem 0rem 0.7rem;
    height:100%;
    display: flex;
    align-items: center;
    text-decoration:none;
    color:white;
}
.nav div:hover{
    background-color: rgb(158, 157, 157);
}
.sideIcon{
    display:none;
}
.sideNav{
    display: none;
}
@media screen and (max-width:600px){
    .nav{
        display: none;
    }
    .sideNav{
        display: flex;
        width: 0;
        background-color:black;
        height:100vh;
        width:30vh;
        position :absolute;
        top:2px;
        z-index: 1;      
    }
    .sideNav img{
        height :40px;
        width:40px;
    }
    .sideNavMenu{
        display : flex;
        flex-direction:column;
    }
    .sideNavMenu div, li{
        padding: 20px 5px 5px 20px;
        list-style: none;
        color:white;
    }
    .sideIcon{
        display:block;
    }
}