*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color:black;
    position:sticky;
    top:0px;
    z-index: 2;
}
.logo{
    height:80px;
    width:80px;
}
.cartIcon{
    height:40px;
    width:40px;
}
.cartContainer{
    display:flex;
    align-items: center;
    margin-right: 2%;
    
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav div{
    height:100%;
    margin:auto;
}
.nav li{
    margin: 0rem 0.7rem 0rem 0.7rem;
    height:100%;
    display: flex;
    align-items: center;
    text-decoration:none;
    color:white;
}
.nav div:hover{
    background-color: rgb(158, 157, 157);
}