.store{
    display:flex;
    margin-top: 2%;
}
.side{
    width : 15vw;
    border-right: 2px solid rgb(180, 178, 178);
   
}
.description{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.desc{
    text-align:center;
    margin-bottom:2px;
}
.addToCart{
    background-color:black;
    border-style: none;
    color: white;
    padding:10px;
    width:150px;
    margin-top:15px;
}
.addToCart:hover{
    background-color:rgb(88, 88, 88);
}
.partition{
    width:100%;
    margin : 20px 0px 20px 0px;
    border:0.2px solid rgb(133, 130, 130);
    
}
.brands div{
    margin-top : 20px;
}
.app{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:85vw;
}
.items{
    margin-bottom:7%;
    box-shadow: 1px 1px 1px 1px rgb(204, 202, 202);
    height : 30rem;
    width:20rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}

.items img{
    display: block;
    height : 13rem;
    width:13rem;
    padding:15%;
    align-self: center;
}
.items img:hover{
    transform: rotate(4deg);
}
@media only screen and (max-width : 600px){
    .side{
        width : 35vw;
    }
    .app{
        width:70vw;
    }
    .items{
        margin:7%;
        height : 20rem;
        width:15rem;
    }
    
    .items img{
        height : 5rem;
        width:5rem;
        padding:7%;
    }
    .app h1{
        font-size:30%;
    }
    

}
